.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #e42a2a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: rgb(153, 203, 226);
}

.header-row {
    background: #1a4877;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}